extensions:
  Memio\SpecGen\MemioSpecGenExtension: ~
  PhpSpecCodeCoverage\CodeCoverageExtension:
    format:
      - clover
      - html
    whitelist:
      - src/
    output:
      clover: coverage.clover
      html: public/coverage

suites:
    src:
        namespace: 'Kpicaza\Inspiration\'
        src_path: src
        spec_path: .
    quotes:
        namespace: 'Inspiration\Quotes\'
        src_path: packages/quotes/src
        spec_path: packages/quotes
    questions:
        namespace: 'Inspiration\Questions\'
        src_path: packages/questions/src
        spec_path: packages/questions
    objects:
        namespace: 'Kpicaza\Objects\'
        src_path: packages/objects/src
        spec_path: packages/objects
